---
interface Props {
  img: string;
  name: string;
  age: string;
  review: string;
  key: number;
}

const { img, name, age, review, key } = Astro.props;
---

<div
  class="social-card social_el hidden"
  data-key={`0${key}`}
>
  <div class="social-card__img-cover">
    <img
      class="social-card__img"
      src={img}
      alt={`${name}-img`}
    />
  </div>

  <h2 class="social-card__name">{name}</h2>
  <p class="social-card__age">{age}</p>
  <p class="social-card__review">{review}</p>
</div>

<style lang="scss">
  .social-card {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 12rem 2.5rem 3.2rem 2.5rem;
    background-color: #fff;
    border-radius: 8px;

    transition: all 0.25s ease;

    &__img-cover {
      position: absolute;
      top: -20%;
      transform: translateY(50%);

      max-height: 90px;
      aspect-ratio: 1/1;
      border-radius: 5px;
      overflow: hidden;
    }

    &__img {
      width: 100%;
    }

    &__name {
      font-size: 2.4rem;
    }

    &__age {
      font-size: 1.4rem;
      color: #999999;
    }

    &__review {
      margin-bottom: 0;
      font-size: 1.6rem;
      color: #575757;
      line-height: 150%;
    }
  }

  .social_el {
    transition: all 0.75s ease;
  }

  .hidden {
    opacity: 0;
  }

  .social-card:nth-child(1) {
    transition-delay: 100ms;
  }
  .social-card:nth-child(2) {
    transition-delay: 200ms;
  }
  .social-card:nth-child(3) {
    transition-delay: 300ms;
  }
  .social-card:nth-child(4) {
    transition-delay: 400ms;
  }
  .social-card:nth-child(5) {
    transition-delay: 500ms;
  }
</style>
